################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/.coverage
/test/coverage.xml
/sigfig/__pycache__
